cmake==0.7.1
opencv-contrib-python == 4.4.0.42
opencv-python == 4.4.0.42 
dlib == 19.21.0
numpy == 1.17.4
face-recognition == 1.3.0
face-recognition-models == 0.3.0
gunicorn == 20.0.4
Werkzeug == 1.0.1
Flask==1.1.2
requests==2.22.0
simplejson==3.16.0
json5==0.9.5
pybase64== 1.0.1
